<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-12">
							<div class="card-box">
								<form action="" class="am-form" data-am-validator>
								  <fieldset>
								    <legend>添加管理员</legend>
								    <div class="am-form-group">
								      <label for="doc-vld-name-2">管理员账号：</label>
								      <input type="text" id="doc-vld-name-2" name="admin_name"  placeholder="输入户名" required/>
								    </div>
								    <div class="am-form-group">
								      <label for="doc-select-1">选择权限</label>
								      <select id="doc-select-1" required>
								        <option value="0" name="powers">-=请选择一项权限添加=-</option>
										<foreach name="powers" item="k">
								        <option value="{$k.id}">{$k.name}</option>
								        </foreach>
								      </select>
								      <span class="am-form-caret"></span>
								    </div>
								    <button class="am-btn am-btn-secondary" type="submit">提交</button>
								  </fieldset>
								</form>
								
								
							</div>
						</div>
					<!-- Row end -->
				</div>		
			</div>
		</div>