<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-12">
							<div class="card-box">
								<form action="" class="am-form" data-am-validator>
								  <fieldset>
								    <legend>添加管理员</legend>
								    <div class="am-form-group">
								      <label for="doc-vld-name-2">管理员账号/名称：</label>
								      <input type="text" id="doc-vld-name-2" name="admin_name"  placeholder="输入户名" required/>
								    </div>
									<div class="am-form-group">
									  <label for="doc-vld-name-2">管理员密码：</label>
									  <input type="text" id="doc-vld-name-3" name="password"  placeholder="输入密码"required/>
									</div>
								    <div class="am-form-group">
								      <label for="doc-select-1">选择权限</label>
								      <select id="doc-select-1" required>
								        <option value="0" name="powers">-=请选择一项权限添加=-</option>
										<foreach name="powers" item="k">
								        <option value="{$k.id}">{$k.name}</option>
								        </foreach>
								      </select>
								      <span class="am-form-caret"></span>
								    </div>
								    <button class="am-btn am-btn-secondary" id="submit">提交</button>
								  </fieldset>
								</form>
								
								
							</div>
						</div>
					<!-- Row end -->
				</div>		
			</div>
		</div>
<script type="text/javascript" src="__PUBLIC__/Admin/assetsl/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assetsl/js/layer/layer.js" ></script>
<script>
	$(function () {
	    $('#doc-vld-name-2').blur(function () {
            var admin = $('#doc-vld-name-2').val();
            $.ajax({
                type:'post',
                data:{admin:admin},
                url:'{:U("Admin/Power/if_admin_be")}',
                success:function (data) {
                    if(data == 1){
                        layer.tips('管理员重名', '#doc-vld-name-2', {
                            tips: 3
                        });
                        $('#submit').attr("disabled","disabled");
                    }else{
                        layer.tips('管理员可用', '#doc-vld-name-2', {
                            tips: 3
                        });
                        $('#submit').attr("disabled",false);
					}
                }
            })
        })

        $('#submit').click(function(){
            var admin = $('#doc-vld-name-2').val();
            var password = $('#doc-vld-name-3').val();
            var leavl = $("#doc-select-1").val();
            if(admin == null || admin == ''){
                alert('请管理账号或用户名');
                return false;
            }
            if(password == null || password == ''){
                alert('请设置密码');
                return false;
			}
            if(leavl == 0){
                alert('选择一项权限');
                return false;
            }
            $.ajax({
                type:'post',
                data:{admin:admin,leavl:leavl,password:password},
                url:'{:U("Admin/Power/admin_add")}',
                success:function (e) {
                    if(e == 1){
                        alert('该管理员账号已生成，马上生效');
                    }else{
                        alert('程序出了点小意外....');
                    }
                }
            })
        })

    })
</script>